<footer class="site-footer">
  <ul>
    <li><a href="https://twitter.com/mamuso">Twitter <span class="emoji">🐦🎙️</span></a></li>
    <li><a href="http://github.com/mamuso">GitHub <span class="emoji">🐙😸</span></a></li>
    <li><a href="https://www.linkedin.com/in/mamuso/">Linkedin <span class="emoji">🦄🌈</span></a></li>
    <!-- <li><a href="/blog">Blog <span class="emoji">️✏️📄</span></a></li> -->
    <li><a href="mailto:mamuso@mamuso.net">Say hi <span class="emoji">✉️👋</span></a></li>
  </ul>
</footer>
