p {
  margin: 1.6rem 0;
  line-height: 1.6;
}

h1, h2 {
  margin-bottom: 3rem;
  font-family: "Playfair Display", serif;
  font-size: $font-size-xxxl;
}

h3 {
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-size: $font-size-xxl;
}

// Site header
.site-header {
  path {
    transition: transform $animation;
  }
  .logo {
    padding: 0.5rem;
    margin-left: -1rem;
  }
  .logo:hover .pl {
    transform: translate(1.2rem);
  }
  .logo:hover .pr {
    transform: translate(-1.2rem);
  }
}

// Site
.site-intro {
  margin: 8.8rem 0 20rem;
}

.site-block {
  width: 88rem;
  max-width: 100%;
  p {
    width: 72rem;
    max-width: 100%;
  }
  a {
    border-bottom: 2px solid rgba($text-color, 0.2);
    text-decoration: none;
    color: $text-color;
    transition: all $animation;
    background: linear-gradient(
      12deg,
      $background-nav 0%,
      $background-nav 40%,
      rgba($background-color, 0) 41%
    ); /* w3c */
    background-position: 50% 0%;
    background-size: 400% 400%;
    &:hover {
      border-bottom: 2px solid rgba($brand-color, 0.2);
      color: $brand-color;
      background-position: 0% 70%;
    }
  }
}

// Projects
.projects {
  .project {
    margin-bottom: 18rem;
  }
  .project-intro {
    margin-bottom: 10rem;
  }
  h2 {
    margin-bottom: 0.4rem;
    font-size: $font-size-l;
  }
  header {
    margin-bottom: 3.2rem;
    h3 {
      margin-bottom: 0.2rem;
    }
    p {
      font-size: $font-size-s;
      margin: 0 0 1.2rem;
      color: $secondary-color;
      font-family: "IBM Plex Mono", monospace;
      text-transform: uppercase;
    }
  }
  ul li {
    margin: 0.8rem 2.2rem;
  }
  .project-gallery {
    margin-top: 6rem;
    list-style: none;
    li {
      margin: 2rem 0;
    }
    img {
      width: 88rem;
      max-width: 100%;
      border-radius: $base-radius;
      box-shadow: 0 1px 2px rgba($text-color, 0.2);
    }
  }
}

// blog
.blog {
  margin: 0 0 20rem;
  h2 {
    font-size: $font-size-l;
  }
  ul {
    width: 72rem;
    max-width: 100%;
    border-top: 1px solid rgba($text-color, 0.05);
  }
  li {
    list-style: none;
    width: 100%;
    a {
      display: block;
      padding: 0.8rem 1.6rem;
      border-bottom: 1px solid rgba($text-color, 0.05);
      border-radius: $base-radius;
      .emoji {
        display: inline-block;
        margin-right: 4px;
        font-size: $font-size-s;
        filter: grayscale(100%);
        transition: all $animation;
      }
      &:hover {
        border-bottom: 1px solid rgba($text-color, 0.05);
        .emoji {
          margin-right: 12px;
          filter: none;
        }
      }
    }
    .emoji {
      font-size: $font-size-s;
    }
  }
}

.site-footer {
  font-size: $font-size-m;
  ul {
    margin-left: -0.6rem;
  }
  li {
    display: inline-block;
    list-style: none;
    margin-right: 0.4rem;
  }
  a {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    text-decoration: none;
    color: $secondary-color;
    transition: all $animation;
    background: linear-gradient(
      12deg,
      $background-nav 0%,
      $background-nav 40%,
      rgba($background-color, 0) 41%
    ); /* w3c */
    background-position: 50% 0%;
    background-size: 400% 400%;
    border-radius: $base-radius;
    .emoji {
      display: inline-block;
      filter: grayscale(100%);
      vertical-align: -0.2rem;
      transition: all $animation;
    }
    &:hover {
      color: $brand-color;
      background-position: 0% 70%;
      .emoji {
        filter: none;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  body {
    padding: 3.2rem;
  }
  .site-intro {
    margin: 6.8rem 0 16rem;
  }
  .site-footer {
    text-align: center;
    line-height: 1.6;
  }
  .site-footer a .emoji {
    display: none;
  }
}
