p {
  margin: 1.6rem 0;
  line-height: 1.5;
}

h2 {
  margin-bottom: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: $font-size-xxxl;
}

h3 {
  margin-bottom: 1rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: $font-size-xxl;
}

// Site header
.site-header {
  path { transition: transform $animation; }
  .logo {
    padding: .5rem;
    margin-left: -1rem;
  }
  .logo:hover .pl { transform: translate(1.2rem); }
  .logo:hover .pr { transform: translate(-1.2rem); }
}

// Site 
.site-intro { margin: 8.8rem 0 16rem; }

.site-block { 
  width: 88rem;
  max-width: 100%;
  p {
    width: 72rem;
    max-width: 100%;
  }
  a {
    border-bottom: 2px solid rgba($text-color, .2);
    text-decoration: none;
    color: $text-color;
    transition: all $animation;
    background: linear-gradient(12deg, $background-nav 0%, $background-nav 40%, rgba($background-color, 0) 41%); /* w3c */
    background-position: 50% 0%;
    background-size: 400% 400%;
      &:hover {
      border-bottom: 2px solid rgba($brand-color, .2);
      color: $brand-color;
      background-position: 0% 70%;
    }
  }
}

// Projects
.projects {
  .project { margin-bottom: 10rem; }
  h2 { font-size: $font-size-xl; }
  header {
    h3 { margin-bottom: 0.4rem; }
    p { 
      font-size: $font-size-m;
      margin: 0 0 1.2rem;
      color: $secondary-color;
    }
  }
  .project-gallery {
    margin-top: 6rem;
    list-style: none;
    li { margin: 2rem 0; }
    img { 
      width: 88rem;
      max-width: 100%;
      border-radius: $base-radius;
      box-shadow: 0 1px 2px rgba($text-color, .2);
    }
  }
}

// blog
.blog {
  margin: 8.8rem 0 16rem;
  ul {
    border-top: 1px solid rgba($text-color, .05);
  }
  li {
    list-style: none;
    width: 100%;
    a { 
      display: block;
      padding: 0.8rem 1.6rem;
      border-bottom: 1px solid rgba($text-color, .05);
      border-radius: $base-radius;
      &:hover {
        border-bottom: 1px solid rgba($text-color, .05);
      }
    }
    .emoji {
      font-size: $font-size-s;
    }
  }
}


@media only screen and ( max-width: 767px) and (min-width: 320px) {
  body { padding: 3.2rem; }
}