@import url(/assets/css/normalize.css);
:root { --bg-primary: #edf1f1; --outer-border: #ffffff; --text-primary: #333333; --text-link: #4c82d7; --font-family-heading: "Manrope", sans-serif; --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; --font-family-monospace: "Jetbrains mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; --font-size-s: 1.4rem; --font-size-m: 1.6rem; --font-size-l: 2.4rem; --font-size-xl: 2.8rem; --font-size-xxl: 5.4rem; --font-size-xxxl: 7.2rem; --animation: 0.2s ease; --radii: 0.3rem; --opacity: 0.35; }

@media (prefers-color-scheme: dark) { :root { --bg-primary: #182335; --outer-border: #141b2a; --text-primary: #d6deeb; --text-link: #ed64a6; } }

@font-face { font-family: Manrope; font-stretch: 50% 150%; font-weight: 100 1000; src: url(/assets/ttf/manrope-wght.ttf) format("truetype-variations"); }

@font-face { font-family: "Jetbrains mono"; font-stretch: 50% 150%; font-weight: 100 1000; src: url(/assets/ttf/jetbrainsmono-wght.ttf) format("truetype-variations"); }

html { font-size: 62.5%; scroll-behavior: smooth; }

html { font-size: 62.5%; scroll-behavior: smooth; }

body { padding: 6rem 8rem 4rem; min-height: 100vh; font: 400 1.8rem var(--font-family-body); font-kerning: normal; line-height: 1.4; background-color: var(--bg-primary); color: var(--text-primary); border: 1.2rem solid var(--outer-border); box-sizing: border-box; }

@media only screen and (max-width: 767px) and (min-width: 320px) { body { padding: 3.2rem; } }

h1 { margin: 0; }

h2 { margin-bottom: 3rem; font-family: var(--font-family-heading); font-size: var(--font-size-xxxl); letter-spacing: -0.02rem; }

h3 { margin-bottom: 1rem; font-family: var(--font-family-heading); font-size: var(--font-size-xxl); letter-spacing: -0.02rem; }

p { margin: 1.6rem 0; line-height: 1.6; }

ul { margin: 0; padding: 0; }

a { color: var(--text-link); }

a::before { margin-right: 0.25ch; opacity: var(--opacity); content: "["; }

a::after { margin-left: 0.25ch; opacity: var(--opacity); content: "]"; }

.site-header a::before { display: none; }

.site-header a::after { display: none; }

.site-header path { transition: transform var(--animation); }

.site-header .logo { padding: 0.5rem; margin-left: -1rem; }

.site-header .logo:hover .pl { transform: translate(1.2rem); }

.site-header .logo:hover .pr { transform: translate(-1.2rem); }

.site-intro { margin: 8.8rem 0 20rem; }

.site-block { width: 88rem; max-width: 100%; }

.site-block p { width: 72rem; max-width: 100%; }

.projects .project { margin-bottom: 18rem; }

.projects .project-intro { margin-bottom: 10rem; }

.projects h2 { margin-bottom: 0.4rem; }

.projects header { margin-bottom: 3.2rem; }

.projects header h3 { margin-bottom: 0.2rem; }

.projects header p { font-size: var(--font-size-s); margin: 0 0 1.2rem; font-family: var(--font-family-monospace); text-transform: uppercase; opacity: var(--opacity); }

.projects ul li { margin: 0.8rem 2.2rem; }

.projects .project-gallery { margin-top: 6rem; list-style: none; }

.projects .project-gallery li { margin: 2rem 0; }

.projects .project-gallery img { width: 88rem; max-width: 100%; border-radius: var(--radii); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.site-footer ul { margin-left: -0.6rem; }

.site-footer li { display: inline-block; list-style: none; margin-right: 0.4rem; }

.site-footer a { display: inline-block; padding: 0.2rem 0.6rem; }

.site-footer a .emoji { display: inline-block; filter: grayscale(100%); vertical-align: -0.2rem; transition: all var(--animation); }

.site-footer a:hover { background-position: 0% 70%; }

.site-footer a:hover .emoji { filter: none; }

@media only screen and (max-width: 767px) and (min-width: 320px) { body { padding: 3.2rem; } .site-intro { margin: 6.8rem 0 16rem; } .site-footer { text-align: center; line-height: 1.6; } .site-footer a .emoji { display: none; } }

/*# sourceMappingURL=main.css.map */