---
---
// Defaults
$base-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$base-font-size:    1.8rem    !default;
$base-font-weight:  400       !default;
$base-line-height:  1         !default;
$base-max-width:    120.0rem  !default;
$base-radius:       .3rem     !default;

$text-color:        #333      !default;
$brand-color:       #4C82D7   !default;
$brand-alt:         #B60B4D   !default;
$secondary-color:   #A6A6A6   !default;
$background-color:  #F6F8F8   !default;
$background-alt:    #EDF1F1   !default;
$background-nav:    #FFF      !default;

$font-size-m:       1.6rem    !default;
$font-size-s:       1.2rem    !default;

$animation:         .3s ease;

// Reset
* { padding: 0; margin: 0; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: $base-font-family; }

// Basic styling
body {
  padding: 6rem 8rem 4rem;
  min-height:100vh;
  font: $base-font-weight $base-font-size $base-font-family;
  font-kerning: normal;
  color: $text-color;
  border: 1.2rem solid $background-nav;
  background: -moz-linear-gradient(324deg, $background-color 0%, $background-alt 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, $background-color), color-stop(100%, $background-alt)); /* safari4+,chrome */
  background: -webkit-linear-gradient(324deg, $background-color 0%, $background-alt 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(324deg, $background-color 0%, $background-alt 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(324deg, $background-color 0%, $background-alt 100%); /* ie10+ */
  background: linear-gradient(126deg, $background-color 0%, $background-alt 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-color', endColorstr='$background-alt',GradientType=1 ); /* ie6-9 */
  transition: background 0.5s ease;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings:  "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
          font-feature-settings:  "kern" 1;
  scroll-behavior: smooth;
}

::selection {
  background: $brand-color;
  color: #FFF;
}

::-moz-selection {
  background: $brand-color;
  color: #FFF;
}

// Import partials
@import "site";