<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  {% include header.html %}
  <section class="site-intro site-block">
    <h2>Hi,</h2>
    <p>I'm Manuel Muñoz Solera, and I work at GitHub designing developer experiences. I spend most of my time thinking and boring people who are way smarter than me. Seriously, isn't that great?</p>
    <p>I enjoy coding small, purposeful tools as much as I love drawing compulsively.</p>
    <p>If you are close to San Francisco, <a href="mailto:mamuso@mamuso.net">drop me a line!</a></p>
  </section>

  <!-- <section class="blog site-block">
    <h2>When I'm not working:</h2>
    <ul>
      {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}"><span class="emoji">{{ post.emoji }}</span> {{ post.title }}</a>
      </li>
      {% endfor %}
      </ul>
  </section> -->

  <div class="projects">
    <section class="project project-intro site-block">
        <p>Before joining the Developer Services team at Microsoft, I had a lot of fun in a few other places.</p>
    </section>

    <section class="project site-block">
      <header>
        <h3>Yammer</h3>
        <p>Principal designer (2013 — 2018) </p>
      </header>
      <p><a href="https://www.yammer.com/">Yammer</a> was home for over four years. I was able to work on a broad range of problems, bringing a social layer to the Microsoft Office 365 suite of products.</p>
      <p>Working on our <a href="https://github.com/Microsoft/YamUI/">design system</a> was a real treat.</p>
      <ul class="project-gallery">
          <li><img src="/assets/img/projects/yammer/mkt.png" alt="Yammer marketing pages"></li>
          <li><img src="/assets/img/projects/yammer/group.png" alt="Yammer group"></li>
          <li><img src="/assets/img/projects/yammer/mobile.png" alt="Yammer mobile"></li>
          <li><img src="/assets/img/projects/yammer/yamui.png" alt="YamUI modules"></li>
      </ul>
    </section>


    <section class="project site-block">
        <header>
          <h3>Tuenti</h3>
          <p>Head of design (2010 — 2013)</p>
        </header>
        <p><a href="http://tuenti.com/">Tuenti</a> was born as a social network with a strong emphasis on chat communication and photos; by the time I joined the company, it was about to get out of its comfort zone and release a virtual mobile operator.</p>
        <p>My experience at this company was challenging and rewarding. Both businesses had radically different design needs, and that forced me to adapt and learn many new skills. I managed a fantastic group of human beings who taught me a lot about how to make things right and called me out when I did wrong.</p>  
        <ul class="project-gallery">
            <li><img src="/assets/img/projects/tuenti/social.png" alt="Tuenti Social"></li>
            <li><img src="/assets/img/projects/tuenti/movil.png" alt="Tuenti Movil"></li>
        </ul>
      </section>

      <section class="project site-block">
        <header>
          <h3>What else?</h3>
        </header>
        <p>A lot more! </p>
        <ul>
          <li>I had fun with some friends starting up our own small web design studio (2001-2005).</li>
          <li><a href="https://the-cocktail.com/">The Cocktail</a> (2006-2010) taught me everything I know about building digital products with love.</li>
          <li>I had a lot of fun building <a href="http://unvlog.com/">Unvlog</a> (2007) and <a href="http://iwannagothere.com/">Iwannagothere</a> (2008).</li>
          <li>I briefly touched base with <a href="https://jobandtalent.com/">Job&Talent</a> (2010).</li>
          <li>And I met a lot of awesome people while I was hosting the <a href="https://vimeo.com/04x10">04x10</a> event (2012-2013).</li>
        </ul>
      </section>

  </div>
  
  {% include footer.html %}
</body>
</html>
