<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  {% include header.html %}
  <section class="site-intro site-block">
    <h2>Hi,</h2>
    <p>I'm Manuel Muñoz Solera, and I work at Microsoft designing developer experiences. I spend most of my time thinking and talking with people who are way smarter than me. Seriously, isn't that great?</p>
    <p>I enjoy coding small, purposeful tools as much as I love drawing compulsively.</p>
    <p>If you are close to San Francisco, <a href="mailto:mamuso@mamuso.net">drop me a line!</a></p>
  </section>


  <div class="projects">
    <h2>I had a lot of fun workin on:</h2>
    <section class="project site-block">
      <header>
        <h2>Yammer</h2>
        <p>Principal designer (2013 — 2018) </p>
      </header>
      <p><a href="https://www.yammer.com/">Yammer</a> was home for over four years. I was able to work in a broad range of problems, bringing a social layer to the Microsoft Office 365 suite of products.</p>
      <p>Working on our <a href="https://github.com/Microsoft/YamUI/">design system</a> was a real treat.</p>
    </section>
  </div>
</body>
</html>